<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GLASSROOM</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script type="application/javascript" src="js/main.js"></script>
        <script type="application/javascript" src="js/jquery-3.1.0.min.js"></script>
    </head>

    <body>
        <div class="slide">
            <div class="header">
                <button id="btn-help" class="help" onclick="GST.executeCommand('help');">&nbsp;</button>
                <div class="title">Ergebnisse für &quot;{{filter}}&quot;:</div>
                <button id="btn-cancel" class="close" onclick="GST.executeCommand('cancel');">&nbsp;</button>
            </div>

            <div class="body select">
                <button id="btn-prev" class="prev {{#if isFirst}}inactive{{/if}}" onclick="GST.executeCommand('previous');">&nbsp;</button>
                <div class="item">
                    <p style="font-weight:bold">{{guide.title}}</p>
                    <p>Aktualisierung: {{guide.lastUpdate}}</p>
                </div>
                <button id="btn-next" class="next {{#if isLast}}inactive{{/if}}" onclick="GST.executeCommand('next');">&nbsp;</button>
            </div>

            <div class="navigation">
            {{#each buttons}}
                <button id="btn-{{this.key}}" onclick="GST.executeCommand('{{this.key}}');" tabindex="1">{{this.label}}</button>
            {{/each}}
            </div>

            <div class="speech"> </div>
        </div>
    </body>
</html>
