<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GLASSROOM</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script type="application/javascript" src="js/main.js"></script>
    <script type="application/javascript" src="js/jquery-3.1.0.min.js"></script>
</head>

<body>
<div class="slide">
    <div class="header">
        {{#unless hideHelp}}<button class="help" onclick="GST.executeCommand('help');">&nbsp;</button>{{/unless}}
        {{#if title}}<div class="title">{{{title}}}</div>{{/if}}
        {{#unless hideCancel}}<button class="close" onclick="GST.executeCommand('cancel');">&nbsp;</button>{{/unless}}
    </div>

    <div class="body">
        {{{body}}}
    </div>

    <div class="navigation">
        {{#each buttons}}
            <button id="btn-{{this.key}}" onclick="GST.executeCommand('{{this.key}}');" tabindex="1">{{this.label}}</button>
        {{/each}}
    </div>

    <div class="speech"> </div>
</div>
</body>
</html>
